.mainContainer {
    
    margin: 0 0 ;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 5px 24px rgba(149, 157, 165, 0.4);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 15px 180px;
  }
  
  .productLink {
    text-decoration: none;
    color: #1a73e8;
    font-weight: bold;
    padding: 0 1px;
    transition: all 0.2s ease;
  }
  
  .productLink:hover {
    color: #0b499b;
    border-bottom-color: #0b499b;
  }
  
  .iconContainer {
    position: relative;
  }
  
  .iconContainer img {
    width: 40px;
    color: #1a73e8;
  }
  
  .iconContainer span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0b499b;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 0.75rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }
  /* darkmode */
  /* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
  

  

  
  @media (max-width: 1200px) {
    .container {
      padding: 15px 80px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 15px 40px;
    }
  }
  
  @media (max-width: 555px) {
    .container {
      padding: 15px 20px;
    }
  }
  